name: Commit Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check_commit:
    name: Check Commit
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.22.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - run: pnpm install
      - name: Run checks in parallel
        run: |
          parallel --keep-order '
            command={}
            echo "=== ▶️ Start: $command ==="
            bash -c "time $command" 2>&1
            code=$?
            if [ $code -eq 0 ]; then
              echo "=== ✅ Success: $command ==="
            else
              echo "=== ❌ Failed: $command ==="
              exit $code
            fi
          ' ::: \
            "pnpm run lint" \
            "pnpm exec prettier --check ." \
            "pnpm exec tsc" \
            "pnpm dlx --package=renovate renovate-config-validator --strict"
