name: Commit Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check_commit:
    name: Check Commit
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.28.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - run: pnpm install
      - name: Run checks in parallel
        run: |
          parallel --keep-order '
            command={}
            echo "=== ▶️ Start: $command ==="
            bash -c "time $command" 2>&1
            code=$?
            if [ $code -eq 0 ]; then
              echo "=== ✅ Success: $command ==="
            else
              echo "=== ❌ Failed: $command ==="
              exit $code
            fi
          ' ::: \
            "pnpm run lint" \
            "pnpm exec prettier --check ." \
            "pnpm exec tsc" \
            "pnpm dlx --package=renovate renovate-config-validator --strict"
