name: Manual Account Update

on:
  pull_request:
    branches:
      - main
  repository_dispatch:
  schedule:
    - cron: "30 6-9 * * *" # 15:30 JST (+ 3 times in reserve)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HEADLESS: ${{ vars.HEADLESS }}
  PLAYWRIGHT_LOGGER: ${{ vars.PLAYWRIGHT_LOGGER }}
  EMAIL: ${{ secrets.EMAIL }}
  PASSWORD: ${{ secrets.PASSWORD }}
  MANUAL_ACCOUNT_NAME: ${{ secrets.MANUAL_ACCOUNT_NAME }}
  SYMBOL: ${{ secrets.SYMBOL }}
  PORTAL_URL: ${{ secrets.PORTAL_URL }}
  PORTAL_CODE: ${{ secrets.PORTAL_CODE }}
  PORTAL_ID: ${{ secrets.PORTAL_ID }}
  PORTAL_PASSWORD: ${{ secrets.PORTAL_PASSWORD }}
  GMAIL_CLIENT_ID: ${{ secrets.GMAIL_CLIENT_ID }}
  GMAIL_CLIENT_SECRET: ${{ secrets.GMAIL_CLIENT_SECRET }}
  GMAIL_REFRESH_TOKEN: ${{ secrets.GMAIL_REFRESH_TOKEN }}
  SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

jobs:
  update_manual_account:
    name: Update manual account
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    concurrency:
      group: update-manual-account
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm exec playwright install --with-deps chromium --no-shell
      - run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: user_data
          key: ${{ runner.os }}-${{ env.CURRENT_DATE }}
      - run: pnpm run update_manual_account
      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        if: ${{ !cancelled() && vars.SCREENSHOT_DEBUG == 'true' }}
        with:
          path: screenshot
          if-no-files-found: ignore
