name: Manual Account Update

on:
  pull_request:
    branches:
      - main
  repository_dispatch:
  schedule:
    - cron: "30 6-9 * * *" # 15:30 JST (+ 3 times in reserve)
  workflow_dispatch:

env:
  HEADLESS: ${{ vars.HEADLESS }}
  PLAYWRIGHT_LOGGER: ${{ vars.PLAYWRIGHT_LOGGER }}
  EMAIL: ${{ secrets.EMAIL }}
  PASSWORD: ${{ secrets.PASSWORD }}
  MANUAL_ACCOUNT_NAME: ${{ secrets.MANUAL_ACCOUNT_NAME }}
  SYMBOL: ${{ secrets.SYMBOL }}
  PORTAL_URL: ${{ secrets.PORTAL_URL }}
  PORTAL_CODE: ${{ secrets.PORTAL_CODE }}
  PORTAL_ID: ${{ secrets.PORTAL_ID }}
  PORTAL_PASSWORD: ${{ secrets.PORTAL_PASSWORD }}
  GMAIL_CLIENT_ID: ${{ secrets.GMAIL_CLIENT_ID }}
  GMAIL_CLIENT_SECRET: ${{ secrets.GMAIL_CLIENT_SECRET }}
  GMAIL_REFRESH_TOKEN: ${{ secrets.GMAIL_REFRESH_TOKEN }}
  SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

jobs:
  update_manual_account:
    name: Update manual account
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm exec playwright install --with-deps chromium --no-shell
      - run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: user_data
          key: ${{ runner.os }}-${{ env.CURRENT_DATE }}
      - run: pnpm run update_manual_account
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ !cancelled() && vars.SCREENSHOT_DEBUG == 'true' }}
        with:
          path: screenshot
          if-no-files-found: ignore
